.toc-container {
  display: block;
  position: fixed;
  z-index: 100;
  float: left;
  width: 20%;
  height: 100%;
  background-color: @blue;
  overflow-y: scroll;

  .toc-container-inner {
    padding: 20px;
    color: white;
  }
}